<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta name="description" content="scnorion: Remote Assistance PIN"/>
			<meta name="google" content="notranslate"/>
			<title>scnorion | Remote Assistance PIN</title>
			<link rel="stylesheet" href="https://unpkg.com/franken-ui@1.1.0/dist/css/core.min.css"/>
			<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/core.iife.js" type="module"></script>
			<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/icon.iife.js" type="module"></script>
			<style>
				.box {
					border-radius: .75rem;
    				border-width: 1px;
					border-color: black;
				}
				.icon {
					height: 96px;
					width: 96px;
					color: forestgreen;
				}
				.title {
					border-bottom: 1px solid black;
					padding: 1rem;
				}
				.text {					
					font-size: 4rem;
					padding: 1rem;
				}
			</style>
		</head>
		<body>
			<div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport">
				<div class="box">
					<div class="uk-flex uk-flex-between uk-flex-middle uk-grid">
						<div class="uk-flex uk-flex-column uk-flex-center">
							<p class="uk-card-title uk-text-center title">scnorion Remote Assistance</p>
							<div class="uk-flex uk-flex-middle uk-grid text">
								<div><uk-icon icon="square-asterisk" custom-class="icon"></uk-icon></div>
								<div>PIN</div>
								<div>{{ .PIN }}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</html>